<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta charset="UTF-8">
        <!--CSS stylesheets-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"/>
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Pacifico&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

		<title>Eat-Da-Burger</title>

        <!--Javascript/jQuery-->
		<script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<script src="/assets/js/script.js"></script>
    </head>
	<body>
        {{{body}}}
	</body>
    <footer class="page-footer red accent-1">
        <div class="container">
            <p class="center-align">© 2020 Copyright</p>
        </div>
    </footer>
</html>
