<div class="container amber lighten-5">
    <div class="row white-text red darken-4 header">
        <h1 class="col s12 center-align"><i class="fas fa-hamburger"></i> Eat-Da-Burger <i class="fas fa-hamburger"></i></h1>
    </div>
    <div class="row burgerImg">
    </div>
    <div class="row">
        <div class="col s12 m6">
            <h4 class="white-text red darken-4"><i class="material-icons">restaurant</i> Burgers to devour:</h4>
            <ul>
            {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=false}}
                {{/unless}}
            {{/each}}
            </ul>
        </div>
        <div class="col s12 m6">
            <h4 class="white-text red darken-4"><i class="material-icons">done_all</i> Burgers you've devoured:</h4>
            <ul>
            {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/if}}
            {{/each}}
            </ul>
        </div>
    </div>

    <div class="row">
        <form class="col s12 create-form">
            <h4 class="white-text red darken-4 noMargin"><i class="material-icons">add_box</i> Add a burger!</h4>
            <div class="row white form">
                <div class="input-field col s12 m6">
                    <input placeholder="ex. Hamburger..." id="ca" type="text" class="validate black-text" name="name">
                    <label class="black-text" for="ca">Burger Name: </label>
                    <p>
                        <label class="black-text" for="devoured">Devoured?</label><br>
                        <label>
                            <input class="with-gap" name="devoured" value="1" type="radio" checked />
                            <span class="black-text">Devoured</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input class="with-gap" name="devoured" value="0" type="radio" />
                            <span class="black-text">Not devoured yet</span>
                        </label>
                    </p>

                    <button class="btn waves-effect waves-light red darken-4" type="submit" name="action">Add burger 
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>